.App{
  background-color: black;
  color: white;
}
.close-button{
  transition: transform 0.3s ease;
}

.rotated {
  transform: rotate(45deg);
}
.small{
  font-size: 12px;
}
.rows{
  margin-left: 15%;
}